$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #113476;
$link-color: #ec0024;

/* color palette */
$red-color: #ec0024;
$magenta-color: #ce0041;
$blue-color: #113476;
$gold-color: #99824c;
$whitish-color: #fefefe;

