{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <p> Det här kommer från index.twig som ligger i themes -> kim</p>
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
